@model Test4.Models.Registration
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<h3>StudentId: @Model.StudentId</h3>
<ul>
    <li><b>UserId :</b>@Model.UserId</li>
    <li><b>Password :</b>@Model.Password</li>
    <li><b>DateOfBirthd :</b>@Model.DateOfBirth</li>
    <li><b>MobileNumber :</b>@Model.MobileNumber</li>
    <li><b>CreatedDate :</b>@Model.CreatedDate</li>
</ul>
